.container {
  display: flex;

  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .managersList {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      p {
        margin: 5px;
      }

      .manager {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 20px;
        padding: 10px;
        cursor: pointer;

        &:hover {
          background-color: #788fa8;
        }
      }

      .managerActive {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 20px;
        padding: 10px;
        cursor: pointer;
        background-color: #0e56af;
        color: white;
      }

      p {
        margin-bottom: 1px;
        font-size: 18px;
      }
    }
  }
}