.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

.formGrid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.column {
  flex: 0 0 48%;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  label {
    width: 140px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 8px;
  }

  input, select {
    flex: 1;
    padding: 5px 8px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
}

.productList {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.productTag {
  padding: 4px 10px;
  border: 1px solid #788fa8;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  background: #f9f9f9;
  transition: all 0.2s ease;
  margin-right: 10px;

  &:hover {
    background: #e6f0ff;
  }
}

.selected {
  background: #0e56af;
  color: white;
  border-color: #0e56af;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.buttonSave {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 40px;
  font-size: 20px;
  background-color: #788fa8;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer;

  p {
    margin: 0;
  }

  &:hover {
    background-color: #0e56af;
  }
}

.addIcon {
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s ease;
  margin-top: 7px;

  &:hover {
    transform: scale(1.2);
  }

  .icon {
    width: 20px;
    height: 20px;
    color: #555;

    &:hover {
      color: #007bff;
    }
  }
}

.responses {
  span {
    margin-right: 10px;
  }
}

.inputWarehouses {
  width: 70px;
  height: 20px;
  margin-right: 5px;
}

.selectWarehouses {
  width: 80px;
  margin-right: 5px;
}

.requirementInput {
  width: 50px;
  height: 15px;
  margin-right: 10px
}

.manager {
  margin-top: 100px;
}