.form {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  select {
    height: 45px;
    font-size: 16px;
    margin-right: 15px;
    padding: 5px;
    border-radius: 10px;
  }

  textarea {
    width: 400px;
    height: 33px;
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
  }

  button {
    margin: 15px;
    width: 125px;
    height: 40px;
    font-size: 20px;
    background-color: #788fa8;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #0e56af;
    }
  }

  .disabledOption {
    color: #999;
    background-color: #f5f5f5;
  }

  .current-step {
    font-weight: bold;
    color: #1890ff;
  }
}