.container {
  display: flex;
  height: 70vh;
  align-items: flex-start;
  justify-content: space-between;
  //gap: 24px;
  padding: 16px;
  width: 100%;
  overflow-x: auto; // позволяет горизонтальную прокрутку при необходимости
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  //align-items: center;
  gap: 10px;
  min-width: 200px;
  margin-right: 50px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.stageBlock {
  position: relative;
}

.resultsPopup {
  position: absolute;
  top: 0;
  left: 100%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  white-space: nowrap;
}

.commentField {
  width: 400px;
  height: 400px;
  padding: 10px;
  font-size: 14px;
  resize: vertical;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.completedStage {
  background-color: #d4edda; // светло-зеленый фон
  border-radius: 4px;
  padding: 2px 4px;

  label {
    color: #155724; // тёмно-зелёный текст
    font-weight: bold;
  }
}
