.containerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    .addButton {
      width: 150px;
      height: 40px;
      font-size: 20px;
      background-color: #788fa8;
      border: none;
      outline: none;
      border-radius: 10px;
      color: white;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0e56af;
      }
    }

    .searchInput {
      padding: 8px 12px;
      margin: 1rem 0;
      width: 100%;
      max-width: 400px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    .additionally {
      display: flex;
      align-items: center;
      width: 80%;
    }
  }

  .listContainer {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


    .clientBlock {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s ease;
      margin:20px;
      text-decoration: none;
      color: inherit;

      .clientHeader {
        background-color: #788fa8;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        color: white;
        transition: background-color 0.3s ease;
        padding: 10px;
      }

      &:hover {
        transform: scale(1.03);
        cursor: pointer;

        .clientHeader {
          background-color: #0e56af;
          transition: background-color 0.3s ease;
        }
      }

      h3 {
        margin: 5px 0;
        padding-left: 20px;
        font-size: 22px;
      }

      p, a {
        padding-left: 20px;
      }
    }

  }

}

.funnelButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  font-size: 20px;
  background-color: #788fa8;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-left: 30px;

  &:hover {
    background-color: #0e56af;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 15px 0;

  select {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #fff;
    transition: border 0.2s;

    &:focus {
      outline: none;
      border-color: #3182ce;
      box-shadow: 0 0 0 2px rgba(49, 130, 206, 0.2);
    }
  }
}

