.wrapper {
  padding: 20px;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.backLink {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  font-size: 20px;
  background-color: #788fa8;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-bottom: 40px;

  &:hover {
    background-color: #0e56af;
  }
}

.nav {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  a {
    text-decoration: none;
    color: #788fa8;
    padding-bottom: 4px;

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    border-bottom: 2px solid #0e56af;
    font-weight: bold;
    color: #0e56af;
  }
}

.content {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  text-align: center;
}
